.tab-component{
    display: flex;
    line-height: 60px;
    background: #e5e5e5;
    font-size:14px;
    color:#333;
    span{
        flex:1;
        text-align: center;
    }
    .active{
        color:#d12f2f;
    }
}